#kj-simple-button{
	position:fixed;
	z-index:9999;
	text-decoration:none;
}
#kj-simple-button span.dashicons{
	line-height:inherit;
	font-style:inherit;
	font-size:inherit;
	font-weight:inherit;
	text-align:inherit;
	height:100%;
	width:100%;
}
#kj-simple-button img{
	border-radius:inherit;
	border:inherit;
	height:100%;
	width:100%;
}